RewriteEngine On
RewriteBase /webapps/HNG-stage2/

# Redirect requests to 'hello' to 'hello.php'
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hello$ hello.php [L,QSA]